@{
    ViewData["Title"] = "Add/Edit Task";
}

@*@model Mission6Group.Models.ApplicationResponse*@

<div class="text-center">
    <h1 class="display-4">Fill out your Add/Edit Task form</h1>

</div><br /><br /><br />

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label class="task" @*asp-for="Task"*@>Task: </label>
        <input @*asp-for="Task"*@ /><br />

        <label class="DueDate" @*asp-for="DueDate"*@>Due Date: </label>
        <input @*asp-for="DueDate"*@ /><br />

        <label @*asp-for="Quadrant"*@>Quadrant (1 - 4): </label>
        <input @*asp-for="Quadrant"*@ /><br />

        <label @*asp-for="Category"*@>Category: </label>
        <select @*asp-for="Category"*@>
            <option value="">Select a Category</option>
            @*@foreach (Category c in ViewBag.Categories)
            {
                <option value="@m.CategoryId">@c.CategoryName</option>
            }*@
        </select><br />

        <label @*asp-for="Completed"*@>Completed</label>
        <select @*asp-for="Completed"*@>
            <option value="true">True</option>
            <option value="false">False</option>
        </select><br />

        <button type="submit" asp-controller="Home" asp-action="Index">Confirm Task</button>
        <!-- This asp-controller and action should be removed after we created models and database -->

    </form>
</div>





