@{ ViewData["Title"] = "Add/Edit Task"; }

@model Mission6Group.Models.TaskResponse

<div class="text-center">
    <h1 class="display-4">Fill out your Add/Edit Task form</h1>

</div>
<br />
<br />
<br />

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label id="task" asp-for="TaskDescription">Task :</label>
        <input asp-for="TaskDescription" /><br />

        <label id="dueDate" asp-for="DueDate">Due Date :</label>
        <input asp-for="DueDate" /><br />

        <label id="quadrant" asp-for="Quadrant">Quadrant (1-4) :</label>
        <input asp-for="Quadrant" /><br />

        <label id="category" asp-for="Category">Category :</label>
        <select asp-for="Categoryid">
            @*<option value="">Select a Category</option>
                <option value="1">Home</option>
                <option value="2">School</option>
                <option value="3">Work</option>
                <option value="4">Church</option>*@
            @foreach (var m in ViewBag.Categories)
            {
            <option value="@m.CategoryId">@m.CategoryName</option>            }
        </select><br />

        <label id="completed" asp-for="Completed">Completed :</label>
        <select asp-for="Completed">
            <option value="false">False</option>
            <option value="true">True</option>
        </select><br />
        @if (ViewBag.New == false)
        {
        <input type="hidden" asp-for="TaskId" />}
        <input id="submit" type="submit" value="Confirm Task" />
    </form>
</div>
